### Required Packages ###
dash==2.0.0
dash-bootstrap-components==0.13.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-renderer==1.9.1
plotly==5.3.1
numpy==1.21.2
pandas==1.3.3
dash-daq==0.5.0